<style>
    body {
        margin: 0;
        height: 100%;
        background-image: url('https://images.unsplash.com/photo-1549874488-b6f2b0757b4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .container {
        position: center;
        max-width: 800px;
        /* Maximum width */
        margin: 0 auto;
        /* Center it */
    }

    .container .content {
        margin: auto;
        position: center;
        /* Position the background text */
        bottom: 0;
        /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        /* Grey text */
        width: 100%;
        /* Full width */
        padding: 15px;
        /* Some padding */
    }
</style>
<div class="container">
    <div class="content">
        <h1>About</h1>
        <p>{{ about }}</p>
    </div>
</div>