<style>
    .container {
        position: center;
        max-width: 800px;
        /* Maximum width */
        margin: 0 auto;
        /* Center it */
    }

    .container .content {
        position: center;
        /* Position the background text */
        bottom: 0;
        /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        /* Grey text */
        width: 100%;
        /* Full width */
        padding: 15px;
        /* Some padding */
    }
</style>
<div class="container">
    <img src="https://cdn.pixabay.com/photo/2017/03/17/06/27/seo-2151033_960_720.png" alt="..." style="width:75%;">
    <div class="content">
        <h1>About</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>