<style>
    body {
        margin: 0;
        height: 100%;
        background-image: url('https://images.unsplash.com/photo-1549874488-b6f2b0757b4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Home Page</h1>
        <hr class="my-4">
        <div class="button_container">
            <a href="/register"  class="badge badge-dark">New User</a>
            <a href="/login"  class="badge badge-dark">Login</a>
            <a href="/menu"  class="badge badge-dark">Start Shopping</a>
            <a href="/admin-manager" class="badge badge-dark">Admin Manager</a>
        </div>
    </div>

</div>