{{> header}}
    {{!-- All you have to include is the title, closing head tag. and opening body tag --}}
    {{!-- The header and footer files have the rest of the content --}}
    <title>Home Page</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:salmon">
        <div class="container">
            <a href="/" class="navbar-brand h4 m-0 p-3" >Place Holder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav p-3 justify-content-start">
                    <li class="nav-item mr-1">
                        <a href="/" class="nav-link text-light">Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">About</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">Menu</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">Reserve Now</a>
                    </li>
                </ul>
                <ul class="navbar-nav p-3 justify-content-end">
                    <li class="nav-item mx-1">
                        <a href="/login" class="nav-link text-light">Login</a>
                    </li>
                    <li class="nav-item ml-1">
                        <a href="/register" class="nav-link text-light">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
    
{{> footer}}