{{!-- All you have to include is the title tag, closing head tag. and opening body tag --}}
{{!-- The header and footer files have the rest of the content --}}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="/auth/login" method="POST">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="email" class="form-control" id="email" name="login_email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="password" class="form-control" id="password"
                        name="login_password">
                </div>
                <p>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/forgot-password">Forgot Password</a>
                </p>
            </form>
        </div>
    </div>

    {{#if message}}
    <h4 class="alert alert-danger mt-4">{{message}}</h4class="alert">
        {{/if }}

</div>