<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/home.css' />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:salmon">
        <div class="container">
            <a href="/" class="navbar-brand h4 m-0 p-3" >Place Holder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav p-3 justify-content-start">
                    <li class="nav-item mr-1">
                        <a href="/" class="nav-link text-light">Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">About</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">Menu</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/" class="nav-link text-light">Reserve Now</a>
                    </li>
                </ul>
                <ul class="navbar-nav p-3 justify-content-end">
                    <li class="nav-item mx-1">
                        <a href="/login" class="nav-link text-light">Login</a>
                    </li>
                    <li class="nav-item ml-1">
                        <a href="/register" class="nav-link text-light">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container mt-4">
    <div class="card">
             <div class="card-header">Register From</div>
        <div class="card-body">
            <form action="/auth/register" method="POST">

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" placeholder ="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder ="password" class="form-control" id="password" name="password">
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input type="password"  placeholder ="confirm password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" placeholder="phone number" class="form-control" id="phoneNumber" name="phoneNumber">
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" placeholder="address" class="form-control" id="address" name="address">
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

    {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4class="alert">
    {{/if }}

</div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>