{{> header}}
    {{!-- All you have to include is the title, closing head tag. and opening body tag --}}
    {{!-- The header and footer files have the rest of the content --}}
    <title></title>
</head>

<body>

    {{!-- CONTENT --}}

{{> footer}}