<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href="footer-style.css" />
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 4px;
        background-color: rgb(23, 26, 29);
        color: white;
        text-align: center
    }

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.5;
    }

    /* Set a specific color for each brand */
    .fa-instagram {
        padding: 5px;
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
        border-radius: 50%;
    }

    .fa-twitter {
        padding: 5px;
        background: #55ACEE;
        color: white;
        border-radius: 50%;
    }
    .fa-facebook {
        padding: 5px;
        background: #3B5998;
        color: white;
        border-radius: 50%;
    }


</style>

<footer class="footer">
    For Wholesale enquires contact:
    <a onclick="window.open('https://www.google.com/');" class="fa fa-twitter"></a>
    <a onclick="window.open('https://www.google.com/');" class="fa fa-instagram"></a>
    <a onclick="window.open('https://www.google.com/');" class="fa fa-facebook"></a>
    Email me at <a href="mailto:email@email.com" >email@email.com </a>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>